html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f1f7f7;
}

.wall {
    animation-name: moveInLeft;
    animation-duration: 0.4s;
    background-color: rgb(0, 0, 0);
    border: none;
}

.empty {
    animation-name: moveInLeft;
    animation-duration: 0.4s;
    background-color: rgb(255, 255, 255);
    border: none;
}
.source {
    background-color: #182eab;
    border: none;
}
.destination {
    background-color: #8a0000;
    border: none;
}

.visited,
.visited-no-animation {
    background-color: #919191;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.visited {
    animation-name: visited;
    animation-duration: 0.6s;
}

.open,
.open-no-animation {
    background-color: #8ccfcf;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.open {
    animation-name: visited;
    animation-duration: 0.6s;
}

@keyframes visited {
    0% {
        transform: scale(0);
        border-radius: 200%;
    }

    60% {
        transform: scale(1);
    }
}

.path,
.path-no-animation {
    background-color: #0ec61a;
    border: none;
}

.path {
    animation-name: path;
    animation-duration: 0.7s;
}



table,
ul {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility; /*WTF?*/
}

/*-------------------------------------------------------*/
/* VISUALIZER Maze SETUP */
/*-------------------------------------------------------*/

td {
    max-width: 30px;
    padding: 0;
    max-height: 5px;
    height: 30px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    transition: background-color 0.5s, transform 0.5ss, border-radius 0.5ss;
}

table {
    min-width: 1px;
    min-height: 1px;
    width: 1px;
    height: 1px;
    display: block;
    border-collapse: separate;
    border-spacing: 0px;
    position: relative;
    /*border-style: dashed;*/
    /*border-color: red;*/
    /**border-collapse: expression('separate', cellSpacing = '1px');*/
}
.table-path {
    background-color: #8ccfcf;
    position: relative;
}
.table-path td {
    max-width: none;
    padding:0px;
    margin:0px;
    max-height: none;
    height: 30px;
    border-right: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    background-color: rgba(169, 213, 159, 0.46);
    transition: background-color 0.5s, transform 0.5ss, border-radius 0.5ss;
}
.table-path tr {
    height: auto;
    /*display: block;*/
    /*position: relative;*/
}
.pathStatsNew {
    background: #f1f7f7 !important;
}
.pathStatsVisited {
    background-color: #8ccfcf !important;
}
.pathStatsExplored {
    background-color: #919191 !important;
}
/*-------Classes--------*/


@keyframes moveInLeft {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.3);
    }
}



@keyframes path {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.25);
    }
}


/* ----------  Context menu -------------------------*/
.context-menu {
    position: absolute;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid black;
}

.context-menu ul li:hover {
    background: darkgray;
}
.context-menu ul li button {
    height: 50px;
    width: 150px;
}
#delay {
    background-color: #c3d2d7;
    color: #001a6d;
}
.statsinput {
    width: 55px;
    /*height: 20px;*/
    background-color: rgb(189, 222, 255);
    border-color: #0039f8;
    color: #001a6d;
}
.pathStatsDiv {
    display:block;
    /*width:100%;*/
    height:auto;
    /*background-color:#475;*/
    /*overflow:scroll;*/
}

.toolbar {
    /*background-color: rgba(51, 127, 223, 0.66);*/
}
#brand {
    font-family: 'Train One';
    /*color: rgb(60, 155, 255);*/
    /*color: #5073b8;*/
    font-weight: bold;
    display: inline;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.btn {
    color: #5073b8;
    background-color: #e1ad87;
    border-color: red;
}
.btn:hover {
    background-color: #e17a30;

}
.btn:active {
    background-color: #e17a30;
}
.btn:active:focus {
    background-color: #e17a30;
}
.btn:focus {
    background-color: #e17a30;
}
/*********************************************************  Custom Select Menu *********************************/
select {
    background-color: #c3d2d7;
    color: #001a6d;
}
